
* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

body {
  color: #222;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 24px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
  /* background-color: #555; */
}

@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: .9fr 1.1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 2rem;
}

div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 24px 0;
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color: #333;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.8rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.content p {
  line-height: 1.7rem;
  margin: 30px 0;
}

div.content li {
  margin-bottom: 10px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  /* background-color: #333; */
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}

nav a {
  text-transform: capitalize;
}

.navitem:hover{
  color: #c73866;
  transition: 0.3s ease-in-out;
}

.texts h2{
  font-style: italic;
}

body{
  height: 100vh;
  /* background: linear-gradient(#304f6d,#73A1B2); */
  background-color: #f6cb9d;
}

.login button{
  background-color: #c73866;
  width: 30%;
  margin: auto auto;
}

.register button{
  background-color: #c73866;
  width: 30%;
  margin: auto auto;
}

.register input{
  width: 80%;
  margin: 2rem auto;
  letter-spacing: 1px;
}
.login input{
  width: 80%;
  margin: 2rem auto;
  letter-spacing: 1px;
}

.register{
  background-color: #f5918f;
  font-weight: lighter;
  width: 30%;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
  padding-bottom: 2rem;
  box-shadow: 10px 15px 10px #c73866;
}

.login{
  background-color: #f5918f;
  font-weight: lighter;
  width: 30%;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
  padding-bottom: 2rem;
  box-shadow: 10px 15px 10px #c73866;
}


header{
  background-color:#f5918f;
  color: white;
  padding: 1rem;
  margin: 1.1rem auto;
  margin-bottom: 3rem;
  /* border-radius: 5%; */
  /* width: 70vw; */
}

.edit-btn{
  background-color: #f5918f;
}

.cae{
  background-color: #f5918f;
  width: 30%;
  margin: auto auto;
}

.rq{
  background-color: white;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */

  /* Example rule: */
  body {
    font-size: 16px;
  }

  .login{
    width: 80%;
  }
  .register{
    width: 80%;
  }

  header{
    width: 90%;
    /* margin: auto auto; */
  }

  .thumbnail{
    width: 60%;
  }
  .texts{
    width: 65%;
    text-overflow:inherit;
    /* overflow: hidden; */
  }
  .ind{
    overflow: hidden;
  }
}

header{
  border-radius: 15px;
}

.thumbnail:hover{
  /* transform:rotateZ(1deg); */
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.logo:hover{
  /* transform: scale(1.1); */
  color: #c73866  ;
  transition: .3s ease-in-out;
}